<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>foremedia video</h1>
    <h2>price:$10</h2>
    <form action="/checkout" method="post">
        <input type="submit" value="buy">
    </form>
</body>
</html>